<div class="contact">
    <div class="contact_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="contact_search_block">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <form class="contact_your_email">
                        <input type="text" name="search" placeholder="Your email">
                    </form>
                    <form class="contact_company">
                        <input type="text" name="search" placeholder="Company">
                    </form>
                    <form class="contact_subject">
                        <input type="text" name="search" placeholder="Subject">
                    </form>
                    <form class="contact_your_messages">
                        <input type="text" name="search" placeholder="Your messages">
                    </form>
                    <button class="contact_button"><a>Send message</a></button>
                </div>
                <div class="col-md-2">
                    <p>or</p>
                </div>
                <div class="col-md-5">
                    <h1>You Can Find Us Here</h1>
                    <p><i class="fa fa-home" aria-hidden="true"></i> Jl.Danau Bratan sekian nomer sekian, Sawojajar Malang</p>
                    <a href="#">FIND ON MAPS</a>
                    <p><i class="fa fa-user" aria-hidden="true"></i> (+62) 8816723812</p>
                    <p><i class="fa fa-user" aria-hidden="true"></i> (+62) 8816723812</p>
                </div>
            </div>
        </div>
    </div>
</div>