<section class="footer">
    <div class="container">
        <div class="row">
            <div class="footer_block col-md-4 col-sm-5 col-xs-5">
                <ul class="footer_menu">
                    <li><a href="">Term &amp; Condition</a></li>
                    <li><a href="">Policy</a></li>
                    <li><a href="">Privacy</a></li>
                </ul>
            </div>
            <div class="footer_sign_block col-md-4 col-sm-3 col-xs-3">
                <div class="footer_sign"> </div>
                <p>copyright@YK97. Allright Reserved. 2017</p>
            </div>
            <div class="footer_tags_block col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
                <ul class="footer_tags">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>